@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
body {
  font-family: "Lato", sans-serif; 
  background-size: cover;
} 
.rooms-data-block .single-room img{
    height: 200px;
    border: 1px solid #33333352; 
}
@media (max-width: 768px){
    .rooms-data-block .single-room img{
        height: 175px;
    }
    .mbCf{
        padding: 0 !important;  
    }  
    .block-section{
        margin: 0 !important;
        border-radius: 0 !important;
    }
}
.welcome-body {
  margin-top: 25px;
  max-height: 342px;
  overflow-y: scroll;
}

.single-room {
  background: #568dac;
  margin-bottom: 25px;
  text-align: center;
}

.single-room img {
  width: 100%;
  height: auto;
  opacity: 0.4;
  transition: 0.3s;
}

.single-room:hover {
    background: white;
}
.single-room img:hover {
  opacity: 1;
}

.single-room:hover img {
  opacity: 1;
}
.rooms-data-block .single-room img {
  object-fit: cover;}
.single-room .btn {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-size: 15px;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 0;
  text-align: center;
  min-width: 110px;
}

.block-section {
  background: #fff;
  border-radius: 4px;
  padding: 15px;
  margin-top: 25px;
}

.mt-15 {
  margin-top: 15px;
}

.logo {
  width: 90px;
  height: 130px;
}

h2.header-main {
  font-size: 2.5rem;
}

h4.sub-header {
  line-height: 24px;
  color: #33333394;
  font-size: 1.5rem;
}
.welcome-footer a{
  margin: 0 4px;
}
.mt-20{
  margin-top: 20px;
}
.search-input{
  height: 38px;
  border-right: 0 !important;
  border: 2px solid #ccc;
}
.tgl-btn{
  background: #fff;
  border: 2px solid #ccc;
  border-left: 0;
  outline: 0;
  padding: 7px 20px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
 @media (max-width: 768px){
  .logo{
    width: 105px;
    height: 140px;
  }
  body {
    background: none;
    background-color: #eeeeee;
  }
} 
