@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
body{
    font-family: 'Lato', sans-serif;
}
.collapseSidebar a span{
    color: #ffff;
    font-size: 18px;
 }
 a.toggleSidebar{
    position: fixed;
    background: #568dacd9 !important;
    top: 80px;
    padding: 16px 6px;
    border: 1px solid #ffffff5e;
    border-radius: 0 10px 10px 0;
    left: 315px;
    transition: all linear .2s;
 }
 a.tSToLeft{
    left: 15px !important;
    transition: all linear .2s;
 }
 .left-sidebar{
    transition: all linear .2s;
 }
.br-50p{
    border-radius: 50%;
}
.mds_viewed_image.active img{
    border: 2px solid #ff0000c9 !important;
    box-shadow: 0px 0px 1px 1px !important;
}
.pdf-main{
    margin: 2px;
    border-radius: 12px;
    border: 4px solid #568dacd9;
    padding: 10px;
}
.pdf-header img{
    float: right; 
    width: 120px;
}
.pdf-header{
    border-bottom: 2px solid;
    padding-bottom: 5px;
    text-align: center;
} 
.pdf-body h2{
    font-weight: bold;
    color: #c4080f;
    margin: 5px 0;
    font-size: 11px;
}
.pdf-body img{
    margin: 0 auto; 
} 
.pdf-content{
    border-top: 2px solid #333;
    margin-top: 5px;
}
.pdf-content h2{
    border: 0.8px solid;
    display: flow-root;
    font-size: 9px;
    padding: 0px 2px;  
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    line-height: 12px;
}
.pdf-content h2 span{
    font-weight: 600;
    padding: 0px 2px;
}
#downloadable {
    padding: 5px;
    max-width: 350px;
}
#downloadable-img {
    width: 100%;
}
.pdf-footer{
    border-top: 2px solid #333;
    margin-top: 10px;
    text-align: center;
}
.pr-color{
    color: #568dacd9;
}
.bl-color{
    color: #05059a;
}
.pdf-footer h5{
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
}
.pdf-footer p{
    font-size: 9px;
} 
.close_c_modal{
    float: right;
    opacity: 1;
}
#loginShareModalPopup{
    overflow-y: scroll;
    background: #000000ba;
} 
label.error{
    color: #ff0000;
    font-weight: 400 !important;
}
.mMsR li a img.active{
    border: 2px solid #fff;
    border-radius: 4px;
 }
.menu-office-data , .menu-full-view-data{
  max-height: 57vh;
    overflow-y: scroll;
    min-width: 600px;
    padding-bottom: 20px;
}
.mMsR ul{
    padding: 0;
    list-style-type: none;
}
.mMsR ul li a{
    color: #fff;
    text-decoration: none;
}
.mMsR ul li a img{
    width: 167px;
    height: 144px;
}
.btn-load-more{
    background: #fff !important;
    color: #4a6878 !important;
    margin: 12px 16px !important;
    padding: 3px 8px !important;
    border-radius: 4px;
    outline: 0 !important;
    border-color: #ffffff !important;
} 
img.size-140x140{
    width: 110px;
    height: 110px;
    border: 1px solid #ffffff4a;
}
.bg-block{
    background-repeat: no-repeat;
    height: calc( 100vw * 657 / 1280 );
    width: 100vw;
    background-size: cover;
    background-position: center top;
    background-attachment: scroll;
    background-color: #000;
    margin: 0 auto;
}
.bg-main{
    background-color: #000;
}
.mb-25{
  margin-bottom: 25px;
} 
.left-sidebar ::-webkit-scrollbar {
    width: 10px;
}
.left-sidebar ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
.left-sidebar ::-webkit-scrollbar-thumb {
    background: #ffffff8c;
    border-radius: 4px;
}
.left-sidebar-body , .mainSearchBlock{
  max-height: 41vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 5px;
    padding-bottom: 21px;
}
.loader{
    border-radius: 70px;
    border: 3px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    display: block;
    width: 120px;
    height: 120px;
} 
.loader:after{
   content: "";
   position: absolute;
   background-color: #fff;
   top: 13px;
   left: 48%;
   height: 50px;
   width: 4px;
   border-radius: 5px;
   -webkit-transform-origin: 50% 97%;
         transform-origin: 50% 97%;
   -webkit-animation: grdAiguille 2s linear infinite;
         animation: grdAiguille 2s linear infinite;
}
@-webkit-keyframes grdAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}
@keyframes grdAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
.loader:before{
   content: "";
   position: absolute;
   background-color: #fff;
   top: 24px;
   left: 48%;
   height: 40px;
   width: 4px;
   border-radius: 5px;
   -webkit-transform-origin: 50% 94%;
         transform-origin: 50% 94%;
   -webkit-animation: ptAiguille 12s linear infinite;
         animation: ptAiguille 12s linear infinite;
}
@-webkit-keyframes ptAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}
@keyframes ptAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
@media (max-width: 392px){
    .left-sidebar{
       width: calc(100% - 30px) !important; 
       width: -moz-calc(100% - 30px) !important; 
       width: -webkit-calc(100% - 30px) !important; 
    }
}
#rooms {
    position: fixed;
    top: 8rem;
    right: 5px;
}
.rooms {
    margin: 5px;
}
 .rooms button {
    width: 20vw;
    height: 10vw;
    max-width: 195px;
    max-height: 50px;
    border: none;
    border-radius: 10px;
    background-color: darkgrey;
    color: white;
 }
#rooms p {
    font-family: sans-serif;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 0.65rem;
    line-height: 5px;
}
.active button{
    color: white;
    background-color: grey;
}
.left-sidebar{
  position: fixed;
  top: 8rem;
  left: 1.5rem;
  width: 300px;
}
.d-b{
  display: block !important;
} 
form .submit-group button{
   background-color: #69b7d9 !important;
   border-color: #69b7d9 !important;
   width: 100%;
}
a.btn-forgot-password, a.btn-close-auth, a.btn-signup-resend-otp, a.btn-close-share, a.btn-up-resend-otp{
   float: right !important;
}
a.btn-forgot-password, a.btn-signup-send-otp, a.btn-sign-up, a.btn-close-auth, a.btn-close-share, a.btn-signup-resend-otp, a.btn-up-resend-otp, a.btn-sign-in, a.btn-change-number{ 
   color: #fff !important;
   text-decoration: none !important;
}
.w-100-per{
   width: 100%;
}
.mt-15{
   margin-top: 15px;
}
.block-signin .form-group label, .block-signup .form-group label, .block-forgot-password .form-group label{
   font-weight: 400 !important;
}
ul.auth-dropdown{
   width: 310px;
}
.show-dropdown-menu-1, .show-dropdown-menu-2, .show-auth-dropdown-menu, .show-share-dropdown-menu{
    position: absolute;
    float: none;
    width: auto;  
    border: 0; 
    box-shadow: none;
    display: block;
}
.btn-resize-small{
    background: #fff;
    border-radius: 4px;
    padding: 4px 6px;
    float: right;
    margin: 20px 10px;
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
}
.btn-resize-small span{
    font-size: 14px;
}
.navbar{
    margin: 10px 15px;
    padding: 0 15px;
}
.body-content{
    /*margin-top: 8rem*/
}
a.mb-logo{
    display: inline-block !important;
    background-color: transparent !important;
    padding: 0 !important;
}
a.mb-logo img{
    display:inline-block !important;
    margin-top: -6px;
}
a.close-office-dropdown{
    float: right;
    background: transparent !important;
    margin: 4px 0 4px 15px;
    color: #fff !important;
}
.full-view-arrow{
    left: 36% !important;
}
.auth-dropdown .dropdown-menu-arrow { 
    left: 87% !important
}
.dropdown-menu-arrow {
    top: -38px;
    left: 16%;
    width: 0;
    height: 0;
    position: relative;
}
.dropdown-menu-arrow:before,
 .dropdown-menu-arrow:after {
   content: "";
   position: absolute;
   display: block;
   width: 0;
   height: 0;
   border-width: 7px 4px;
   border-style: solid;
   border-color: transparent;
   z-index: 1001;
}
.dropdown-menu-arrow:after {
   bottom: -18px;
   right: -8px;
   border-bottom-color: #568dac;
}
.dropdown-menu-arrow:before {
   bottom: -17px;
   right: -8px;
   border-bottom-color: rgba(0,0,0,.15);
}
@media (max-width: 768px){
    .navbar-fixed-top{
       padding: 0 !important;  
    }
    .show-dropdown-menu-1, .show-dropdown-menu-2, .show-auth-dropdown-menu{
       position: static !important;  
       background-color: transparent;
    }
    .sm-xs-text-center{
       text-align: center;
    }
    .navbar-right{
       text-align: center;
    }
    .navbar-right li{
       display: inline-block;
       margin: 0px 8px;
    }
    .navbar-right li.social-last{
       border-right: 0 !important;
    } 
    .navbar-toggle{
       float: left !important;
       margin-left: 15px;
       margin-right: 0 !important;
    }
    .left-sidebar, .navbar-default , .toggleSidebar{
       display: none;
    }
    .btn-main, .btn-close-all-menu{
       display: block !important;
    }
    .body-content{
       margin-top: 18px !important;
    }
}
.btn-main{
    position: absolute;
    float: left;
    top: 0;
    left: 15px;  
    padding: 9px 10px;
    margin-left: 15px;
    margin-top: 18px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fff !important;
    display: none;
}
.btn-main .icon-bar{
    background-color: #888;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-top: 4px;
}
.btn-main span.first{
    margin: 0 !important;
}
.btn-close-all-menu{
    color: #fff !important;
    float: right; 
    display: none;
}
.btn-close-all-menu span{
    padding: 18px;
}
a.xs-r-icons{
    color: #ffff !important;
    float: right;
    padding: 10px;
}
a.xs-r-icons img{
    width: 24px;
    height: 28px;
}
a.xs-resize-full{
    margin: 6px 0 0;
}
.top-margin{
    margin-top: 2.5rem !important;
    transition: margin 400ms;
}
a.btn-nav-auth, a.btn-nav-logout{
    background: #fff !important;
    color: #6f9eb8 !important;
    margin: 12px 16px !important;
    padding: 3px 8px !important;
    border-radius: 4px;
}
.btn-nav-auth img{
    width: 16px !important;
    height: 14px !important;
}
.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px; 
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  color: #fff !important;
  /*display: block;
  padding: 3px 20px;
  clear: both;
  font-weight:300;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;*/
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradientenabled = false;
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
nav{
  background: #568dacd9 !important;
  margin-top: 10px;
  border-color: transparent !important;
  border-radius: 0 !important;
}
.navbar-default .navbar-nav>li>a {
  color: #ffff;
  margin: 0 2px;
}
.a-btn  {
  border: 1px solid #fff !important;
  padding: 0 0 0 0.1vw !important;
  margin: 14px 0.5vw 10px 0.5vw;
  border-radius: 15px;
  background: #fff;
  color: #568dac !important;
  display: inline-block !important;
}
.a-btn span{ 
 padding: 3px 0.1vw 3px 8px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover , .navbar-default .navbar-nav>.open>a , .navbar-default .navbar-nav>.open>a{
background-color: #fff !important;
}
.dropdown-menu-large{
  background: #568dac;
  color: #fff;
  margin-top: 8px !important;
} 
.input-group-addon, .input-group-btn {
  width: 0 !important;
}
.brand {
  position: absolute !important;
  left: calc( 50% - 5px );
  /*margin-left: -30px !important;*/
  /*display: block !important;*/
}
.brand a{
  padding: 0 !important;
}
.logo{
  width: 32px;
  height: 45px;
  border-radius: 2px;
  margin-top: 6px;
}
.navbar-default .navbar-nav>li>a.a-btn:focus, .navbar-default .navbar-nav>li>a.a-btn:hover , button.navbar-toggle{
  background-color: #fff !important;
}
.navbar-right>li.hidden-xs>a:hover{
  color: #fff !important;
}
.a-btn .fa{
  background: #568dac!important;
  color: #fff;
  padding: 5px 11px 5px 8px;
  border-radius: 0 20px 20px 0;
} 
.serach-s-btn{
  background: #fff;
  padding: 4px 15px;
  border-radius: 0 15px 15px 0;
  outline: 0;
  color: #568dac;
  border: 1px solid #ccc;
  border-left-width: 0;
}
.i-s-input{
  border-radius: 14px 0 0 14px;
  height: 30px;
}
.mb-15{
  margin-bottom: 15px !important;
}
.navbar-right li a img{
  width: 28px;height: 28px;
} 
.social a{
  padding: 6px 0.3vw !important;
  margin: 8px 0px !important;
}
.social-last{
  border-right: 1px solid #ece5e5
}
.home-icon a{
  padding-top: 10px !important;
}
.home-icon img{
  width: 28px;
  height: 28px;
}
.hide-section{
  display: none;
}
.share-block .social-icons a{
  margin: 0 5px;
}  
.share-block .header{
  color: #fff;
}
.share-form-block label{
  color: #fff;
}
.share-form-block .form-control{
  border-radius: 2px;
} 
.share-form-block .form-group{
  margin-bottom: 10px;
}
.share-form-block .btn-submit{
  background-color: #69B7D9 !important;
  width: 100%;
}
.category-filter{

}
.category-filter a , .advanceSearchResult a{
  color: #fff;
  text-decoration: none !important;
}
.category-filter a p, a .mds_viewed_image p{
  margin-bottom: 15px;
  font-weight: 500; 
  height: 40px;
  line-height: 20px;
  word-break: break-word; 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 5;
  -moz-line-clamp: 5;
  -ms-line-clamp: 5;
  line-clamp: 5;
  overflow: hidden;

}
.favorite-section p, .white-color{
  color: #fff;
  margin-bottom: 0;
}
.fav-b{
  background: #fff;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 8px;
}
.fav-b img.fv-main{ 
  border-radius: 6px;
  float: left;
  margin-right: 10px;
}
.fv-shr{
  padding: 2px 6px;
}
.fv-shr img{
  width: 15px;
}
.fv-cb{
  padding-left: 0;
}
.cross-fv{
  color: #333 !important;
  float: right;
}
.left-sidebar{
  background: #568dacd9 !important;
  padding: 15px;
}
.left-sidebar .like-share{
  padding-top: 4px;
  text-align: left;
}
.left-sidebar .like-share a{
  color: #fff; 
  text-decoration: none !important;
}
.left-sidebar .like-share .first-a{
  float: right;
}
.left-sidebar .like-share a i{
  font-size: 18px;
}
.left-sidebar hr{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  border-top: 1px solid #eeeeee96 !important;
}
h4.categories-head a{
  color: #fff !important;
  text-decoration: none !important;
}
.ml-8{
  margin-left: 8px;
}
img.l-to-h-filter{
  float: right;
}
.asb{
  background: #fff;
  color: #54829b;
}
.asb .checkbox{
  border-bottom: 1px solid #5e8ba3;
  padding: 4px;
}
.asb .checkbox label{
  padding-left: 4px !important;
  width: 100% !important;
}
.asb .checkbox input{
  position: relative !important;
  float: right !important;
  cursor: pointer;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    /*margin-left: 0 ;
    margin-right: 0 ;*/
  }
  .dropdown-menu-large > li {
    /*margin-bottom: 30px;*/
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
} 
.btn-nav-share {
    padding-left: 1vw;
    padding-right: 1vw;
}
